* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: sans-serif;
    background-color: #39397f;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0 auto;
    /* color: white; */
    width: 850px;
}

#main {
    padding: 40px;
    background-color: #4158D0;
    background-image: -webkit-linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    background-image: -moz-linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    background-image: -o-linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);    
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    width: 50%;
    min-height: 25%;
    margin-top: 20px;
    border-radius: 12px;
    font-size: 12px;
    overflow: hidden;
}

.card {
    display: flex;
    margin: 2px 5px;
    line-height: 22px;
    gap: 20px;
}

.image {
    border-radius: 50%;
    width: 90px;
}

.info {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 5px;
    /* justify-content: flex-start; */
}


.name {
    margin-bottom: -2px; /* Space below the name */
}

.bio {
    margin-bottom: -5px; /* Space below the bio */
}

#search {
    border-radius: 5px;
    padding: 10px 10px;
    width: 260px;
    border: none;
}

#repos {
    margin-top: -5px;
    font-size: 10px;
}

.repo {
    text-decoration: none;
    color: white;
    background-color: #3a0480;
    padding: 1px 2px;
    border-radius: 5%;
    box-shadow: 2px 2px 5px rgba(13, 13, 179, 0.5);
    margin-bottom: 5px;
    margin-right: 10px;
}


